---
import Form from "../components/Form.astro";
import UserList from "../components/UserList.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario con Astro y TypeScript</title>
    <link rel="stylesheet" href="https://aquicreamos.com/astro/coTmhYri.css">
  </head>
  <body>
    <h1 class="text-3xl font-bold text-teal-500">Formulario con Astro y TypeScript</h1>
    <Form />
    <UserList />
  </body>
</html>
